{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "@emotion",
      {
        "sourceMap": true,
        "autoLabel": "dev-only",

        "cssPropOptimization": true
      }
    ]
  ]
  // "presets": [
  //   ["@babel/preset-env", { "targets": { "esmodules": true } }], // ESModules 지원
  //   "@babel/preset-react" // React 지원
  // ]
}
