.ql-container {
  width: 82.5rem;
  height: 90.3rem;
  padding: 2.8rem;
  border-radius: 0.8rem;
}

.ql-editor {
  font-family: 'Pretendard Variable';
  padding: 0;
}

p::selection {
  background-color: #d9cef6;

}

.ql-toolbar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 0.8rem;
  height: 3.6rem;
  width: 62.3rem;
  padding: 0;
  position: absolute;
}

.ql-formats {
  padding: 0;
  margin: 0;
}

/* 글자 크기 커스텀 */
/* 본문 2 */
.ql-size-extra-small,
.ql-size span[data-value='extra-small']::before {
  font-size: 1.2rem !important;
  line-height: 200% !important;
  font-weight: regular;
}
/* 본문 1 */
.ql-size-small,
.ql-size span[data-value='small']::before {
  font-size: 1.6rem !important;
  line-height: 160% !important;
  font-weight: regular;
}
/* 제목 2 */
.ql-size-medium,
.ql-size span[data-value='medium']::before {
  font-size: 1.8rem !important;
  line-height: 200% !important;
  font-weight: bold;
}
/* 제목 1 */
.ql-size-large,
.ql-size span[data-value='large']::before {
  font-size: 2.6rem !important;
  line-height: 200% !important;
  font-weight: bold;
}

/* 글자색, 글자 배경색 드롭다운 커스텀 */
.ql-color {
  padding: 0;
}

.ql-color-picker > .ql-picker-label > svg {
  display: none;
}

.ql-color-picker {
  width: 8rem;
}

#ql-picker-options-1,
#ql-picker-options-2 {
  position: relative;
  top: 0.7rem;

  width: 11.6rem;
  height: 39.2rem;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #a5a5a5;
  border-radius: 1rem;
}

.ql-picker-label {
  padding: 0 !important;
}

.ql-picker-label > span::after {
  display: none !important;
}

.ql-color.ql-custom-color.ql-picker.ql-color-picker > .ql-picker-label::after,
.ql-background.ql-custom-background.ql-color-picker > .ql-picker-label::after {
  content: url(../../../assets/svgs/editorDropIcnClose.svg);
}

.ql-color.ql-custom-color.ql-picker.ql-color-picker.ql-expanded > .ql-picker-label::after,
.ql-background.ql-custom-background.ql-picker.ql-color-picker.ql-expanded
  > .ql-picker-label::after {
  content: url(../../../assets/svgs/editorDropIcnOpen.svg);
}

.ql-color.ql-custom-color.ql-picker.ql-color-picker,
.ql-background.ql-custom-background.ql-picker.ql-color-picker {
  width: 8.1rem;
}

.ql-color.ql-custom-color.ql-picker.ql-color-picker > .ql-picker-label,
.ql-background.ql-custom-background.ql-picker.ql-color-picker > .ql-picker-label {
  width: 8.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#ql-picker-options-1 > span,
#ql-picker-options-2 > span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  width: 9.6rem;
  height: 3.6rem;
  padding: 0.6rem 1rem;
  margin: 0 0 0.6rem 0;

  border-radius: 0.6rem;

  background-color: white !important;
  font-family: 'Pretendard Variable';
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.56rem;
}

#ql-picker-options-1 > span:hover,
#ql-picker-options-2 > span:hover {
  background-color: #eaeaea !important;
}

#ql-picker-options-1:last-child,
#ql-picker-options-2:last-child {
  margin-bottom: 0;
}

/* .ql-custom-color > span {
  overflow: hidden;
} */

/* 글자 색상 아이콘 커스텀 */
.ql-picker.ql-custom-color [data-value='#010101']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnBlack.svg);
}
.ql-picker.ql-custom-color [data-value='#010101']::after {
  color: #333333;
  content: 'black';
}
.ql-picker.ql-custom-color [data-value='#505050']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnGray.svg);
}
.ql-picker.ql-custom-color [data-value='#505050']::after {
  color: #333333;
  content: 'gray';
}
.ql-picker.ql-custom-color [data-value='#B81616']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnRed.svg);
}
.ql-picker.ql-custom-color [data-value='#B81616']::after {
  color: #333333;
  content: 'red';
}
.ql-picker.ql-custom-color [data-value='#DA5B24']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnOrange.svg);
}
.ql-picker.ql-custom-color [data-value='#DA5B24']::after {
  color: #333333;
  content: 'orange';
}
.ql-picker.ql-custom-color [data-value='#C5B525']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnYellow.svg);
}
.ql-picker.ql-custom-color [data-value='#C5B525']::after {
  color: #333333;
  content: 'yellow';
}
.ql-picker.ql-custom-color [data-value='#2F7417']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnGreen.svg);
}
.ql-picker.ql-custom-color [data-value='#2F7417']::after {
  color: #333333;
  content: 'green';
}
.ql-picker.ql-custom-color [data-value='#172B74']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnBlue.svg);
}
.ql-picker.ql-custom-color [data-value='#172B74']::after {
  color: #333333;
  content: 'blue';
}
.ql-picker.ql-custom-color [data-value='#6139D1']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnViolet.svg);
}
.ql-picker.ql-custom-color [data-value='#6139D1']::after {
  color: #333333;
  content: 'violet';
}
.ql-picker.ql-custom-color [data-value='#951479']::before {
  content: url(../../../assets/svgs/editorTextcolorIcnPink.svg);
}
.ql-picker.ql-custom-color [data-value='#951479']::after {
  color: #333333;
  content: 'pink';
}

/* 글자 배경색 아이콘 커스텀 */
.ql-picker.ql-custom-background [data-value='#FFFFFF']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnWhite.svg);
}
.ql-picker.ql-custom-background [data-value='#FFFFFF']::after {
  color: #333333;
  content: 'white';
}
.ql-picker.ql-custom-background [data-value='#EAEAEA']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnGray.svg);
}
.ql-picker.ql-custom-background [data-value='#EAEAEA']::after {
  color: #333333;
  content: 'gray';
}
.ql-picker.ql-custom-background [data-value='#F6E2E2']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnRed.svg);
}
.ql-picker.ql-custom-background [data-value='#F6E2E2']::after {
  color: #333333;
  content: 'red';
}
.ql-picker.ql-custom-background [data-value='#F6E7E2']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnOrange.svg);
}
.ql-picker.ql-custom-background [data-value='#F6E7E2']::after {
  color: #333333;
  content: 'orange';
}
.ql-picker.ql-custom-background [data-value='#F6F4E2']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnYellow.svg);
}
.ql-picker.ql-custom-background [data-value='#F6F4E2']::after {
  color: #333333;
  content: 'yellow';
}
.ql-picker.ql-custom-background [data-value='#F1F6E2']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnGreen.svg);
}
.ql-picker.ql-custom-background [data-value='#F1F6E2']::after {
  color: #333333;
  content: 'green';
}
.ql-picker.ql-custom-background [data-value='#E2EAF6']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnBlue.svg);
}
.ql-picker.ql-custom-background [data-value='#E2EAF6']::after {
  color: #333333;
  content: 'blue';
}
.ql-picker.ql-custom-background [data-value='#E9E3F8']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnViolet.svg);
}
.ql-picker.ql-custom-background [data-value='#E9E3F8']::after {
  color: #333333;
  content: 'violet';
}
.ql-picker.ql-custom-background [data-value='#F6E2F3']::before {
  content: url(../../../assets/svgs/editorTextbasecolorIcnPink.svg);
}
.ql-picker.ql-custom-background [data-value='#F6E2F3']::after {
  color: #333333;
  content: 'pink';
}

/* 볼드 버튼 아이콘 커스텀 */

/* 드롭다운 제외 크기 동일 조정 */
#toolbar > button {
  width: 3.6rem;
  height: 3.6rem;
  background-color: white;
  padding: 0.6rem;
}

.ql-bubble .ql-picker-label::before {
  line-height: 0px;
}
