@charset "UTF-8";

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 2rem;
  height: 2rem;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.groupFeedCarousel .slick-prev {
  left: -2.5rem;
}

.groupFeedCarousel .slick-prev:hover:before {
  content: url('/src/assets/svgs/groupTabBeforeBtnHover.svg');
}
[dir='rtl'] .slick-prev {
  right: -2.5rem;
  left: auto;
}
.slick-prev:before {
  content: url('/src/assets/svgs/groupTabBeforeBtnEnable.svg');
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.groupFeedCarousel .slick-next {
  right: -2.5rem;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -2.5rem;
}
.slick-next:before {
  content: url('/src/assets/svgs/groupTabNextBtnEnable.svg');
}

.groupFeedCarousel .slick-next:hover:before {
  content: url('/src/assets/svgs/groupTabNextBtnHover.svg');
}

[dir='rtl'] .slick-next:before {
  content: '←';
}
